.screen {
  display: grid;
  place-items: center;
  min-height: 100%;
  padding: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: min(100%, 400px);
}

.column > section {
  align-self: stretch;
}
